/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2017, 11:28:26 PM
    Author     : mac
*/
.navbar-brand {
    padding: 0; 
    padding-left: 16px;
    padding-right: 16px    
}

@media screen and (max-width: 768px) {
    .main-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .main-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        margin-top: 1px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
        background: #202020
    }
    .side-collapse.in {
        width:0;
    }
    .navbar-brand {
        display: none;
    }
}

.main-container {
    width: 100%; 
    background-color:#303030; 
    position: absolute;
    padding-top: 100px;
}

.navbar-inverse.custom {
    border: none; 
    background-color: #303030; 
    border-radius: 0; 
    margin-bottom: 0;

    border-bottom: 1px solid #282828
}

.navbar-collapse.custom {
    border: none;
}

.form-ui-container {
    padding-top: 30px;
    max-width: 450px;
}
.form-ui-column-container {
    padding-top: 30px;
    max-width: 900px;
}

.form-ui-container .component-title {
    font-size: 24px;
    text-align: center;
    padding: 1em 0 1em 0;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: Rajdhani;
}
.form-ui-column-container .component-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 1em 0;
    margin: 0;
    color: #fff;
    font-family: Rajdhani;
}
.form-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 1em 0;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'refrigerator-deluxe', sans-serif;
}

.form-fields-panel {
    background: #fff;
    padding: 2em 3em 2em 3em;
}

.form-ui-icon {
    width: 50px; 
    height: 50px; 
    margin: auto; 
    display: block
}

.small-centered {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.small-12 {
    width: 100%;
}

.form-fields-panel input[type="text"],
.form-fields-panel input[type="email"],
.form-fields-panel input[type="password"] {
    border: none;
    border-bottom: 1px solid #e9e9e9;
    margin: 0px;
    box-shadow: none !important;
    line-height: 50px;
    height: 50px;
    color: #555;
}

.login-form-opts {
    padding: 1em 1em 1em 1em;
}

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani-Medium;
    src: url(../fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: Rajdhani-SemiBold;
    src: url(../fonts/Rajdhani-SemiBold.ttf);
}

@media (max-width: 767px) and (min-width: 0px) { 
    .form-ui-container {
        padding-top: 0px;
    }

    .small-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.button.large {
    font-size: 24px;
}

.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.button.primary {
    background-color: #ffb300;
    color: #fefefe;
}

.form-ui-container .button {
    margin: 0;
    font-family: Rajdhani-Semibold;
    text-transform: uppercase;
}

.form-ui-container .button.primary {
    outline: none;
    padding: 0.7em 0 !important;
    background: #ffb300;
    border: none;
    font-size: 20px;
    background-color: #ffbb1a;
    background-image: url("../images/common/icon-btnarrow.svg");
    background-position: 90% center;
    background-size: 14px;
    background-repeat: no-repeat;
    -webkit-transition: background-position .1s ease-in-out;
    transition: background-position .1s ease-in-out
}

.form-ui-container .button.primary:hover {
    background-position-x: 91%;
}

.form-ui-container .button.primary.focus,
.form-ui-container .button.primary.hover {
    background-color: #ffbb1a;
}

.form-ui-column-container .button {
    margin: 0;
    font-family: Rajdhani-Semibold;
    text-transform: uppercase;
}

.form-ui-column-container .button.primary {
    outline: none;
    padding: 0.7em 0 !important;
    background: #ffb300;
    border: none;
    font-size: 20px;
    background-color: #ffbb1a;
    background-image: url("../images/common/icon-btnarrow.svg");
    background-position: 90% center;
    background-size: 14px;
    background-repeat: no-repeat;
    -webkit-transition: background-position .1s ease-in-out;
    transition: background-position .1s ease-in-out
}

.form-ui-column-container .button.primary:hover {
    background-position-x: 91%;
}

.form-ui-column-container .button.primary.focus,
.form-ui-column-container .button.primary.hover {
    background-color: #ffbb1a;
}

.formBase {
    background: rgba(32,32,34,0.98);
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    border-top: 0px solid rgba(255, 255, 255, 0.05);
    padding: 2em 15% 2em 15%;
}

.formBase .button {
    display: block;
    border: 1px solid #333;
    background: none;
    margin: 1em 0 0 0;
    padding: 1em 0;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    font-family: Rajdhani-Semibold;
}

.formBase .button:hover {
    background: #333;
    text-decoration: none;
}

.button.secondary {
    color: #fefefe;
}

.formBase label {
    border-bottom: 1px dotted #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    line-height: 1.8;
}

.terms_of_use {
    text-align: center;
    color: #eee;
    font-weight: normal;
    font-size: 12px;
    position: static;
    float: left;
    width: 100%;
    clear: both;
}

.terms_of_use .terms_of_use_link {
    color: #999 !important;
}

body {
    -webkit-font-smoothing: antialiased;   
    background: #303030
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-primary {
    border-color: #2c2c2e;
}
.panel-heading h4 {
    background: #2c2c2e;
    padding: 0.85em 0;
    color: #fff;
    font-size: 1.55em;
    font-weight: 600;
    font-family: "refrigerator-deluxe", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.panel-heading {
    background: #3c3c3e;
    border-radius: 0px;
    padding: 0;
    margin-top: -10px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #3c3c3e;
    border-color: #ffb300;
}
.plan-subdetails {
    padding: 1.5em 2em !important;
}
.plan-price {
    font-family: "refrigerator-deluxe", sans-serif;
    font-size: 2em;
    font-weight: 600;
}
.panel-primary ul li {
    background: url(/images/pricecheck.png) 20px center no-repeat;
    background-size: 12px auto !important;
    padding: 0.9em 2em 0.9em 3.5em !important;
    font-size: 13px;
    text-align: left;
    border-color: #eee;
}
.panel-primary ul li:hover {
    background-color: #f9f9f9;
}
.glyphicon {
    color: #bbb;
    float: right;
    position: relative;
    top: 2px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon, address {
    font-style: normal;
}
.panel-primary .panel-footer {
    padding: 1.5em 3em;
}

.list-group+.panel-footer, .panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text-center {
    text-align: center;
}
.panel-primary .panel-footer a.btn {
    padding: 0.6em 0;
    font-size: 1.5em;
    border-radius: 0px;
    font-family: "refrigerator-deluxe", sans-serif;
}

.btn {
    border-radius: 0px;
}

.btn {
    font-family: 'exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #ffb300;
    border-color: #e6a100;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plan-subdetails em {
    font-size: 1.35em;
    font-style: normal;
    font-weight: 600;
    font-family: Open sans, sans-serif;
}
.plan-subdetails p {
    font-size: 0.95em;
    opacity: 0.7;
    margin-top: 5px;
}
.plan-subdetails em .glyphicon {
    opacity: 0.35;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #cc8f00;
    border-color: #a87600;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

a:focus, a:hover {
    color: #b37d00;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}
#page-title-full {
    display: block;
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-weight: 300;
    margin-top: 0px;
}
.plan-price em {
    font-family: "refrigerator-deluxe", sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: none;
    color: #ccc;
    font-style: normal;
}