/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2017, 11:28:26 PM
    Author     : mac
*/
.navbar-brand {
    padding: 0; 
    padding-left: 16px;
    padding-right: 16px    
}

@media screen and (max-width: 768px) {
    .main-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .main-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        margin-top: 1px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
        background: #202020
    }
    .side-collapse.in {
        width:0;
    }
    .navbar-brand {
        display: none;
    }
}

.main-container {
    width: 100%; 
    background-color:#303030; 
    position: absolute;
    padding-top: 100px;
}

.navbar-inverse.custom {
    border: none; 
    background-color: #303030; 
    border-radius: 0; 
    margin-bottom: 0;

    border-bottom: 1px solid #282828
}

.navbar-collapse.custom {
    border: none;
}

.form-ui-container {
    padding-top: 30px;
    max-width: 450px;
}

.form-ui-container .component-title {
    font-size: 24px;
    text-align: center;
    padding: 1em 0 1em 0;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: Rajdhani
}

.form-fields-panel {
    background: #fff;
    padding: 2em 3em 2em 3em;
}

.form-ui-icon {
    width: 50px; 
    height: 50px; 
    margin: auto; 
    display: block
}

.small-centered {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.small-12 {
    width: 100%;
}

.form-fields-panel input[type="text"],
.form-fields-panel input[type="email"],
.form-fields-panel input[type="password"] {
    border: none;
    border-bottom: 1px solid #e9e9e9;
    margin: 0px;
    box-shadow: none !important;
    line-height: 50px;
    height: 50px;
    color: #555;
}

.login-form-opts {
    padding: 1em 1em 1em 1em;
}

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani-Medium;
    src: url(../fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: Rajdhani-SemiBold;
    src: url(../fonts/Rajdhani-SemiBold.ttf);
}

@media (max-width: 767px) and (min-width: 0px) { 
    .form-ui-container {
        padding-top: 0px;
    }

    .small-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.button.large {
    font-size: 24px;
}

.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.button.primary {
    background-color: #ffb300;
    color: #fefefe;
}

.form-ui-container .button {
    margin: 0;
    font-family: Rajdhani-Semibold;
    text-transform: uppercase;
}

.form-ui-container .button.primary {
    outline: none;
    padding: 0.7em 0 !important;
    background: #ffb300;
    border: none;
    font-size: 20px;
    background-color: #ffbb1a;
    background-image: url("../images/common/icon-btnarrow.svg");
    background-position: 90% center;
    background-size: 14px;
    background-repeat: no-repeat;
    -webkit-transition: background-position .1s ease-in-out;
    transition: background-position .1s ease-in-out
}

.form-ui-container .button.primary:hover {
    background-position-x: 91%;
}

.form-ui-container .button.primary.focus,
.form-ui-container .button.primary.hover {
    background-color: #ffbb1a;
}

.formBase {
    background: rgba(32,32,34,0.98);
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    border-top: 0px solid rgba(255, 255, 255, 0.05);
    padding: 2em 15% 2em 15%;
}

.formBase .button {
    display: block;
    border: 1px solid #333;
    background: none;
    margin: 1em 0 0 0;
    padding: 1em 0;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    font-family: Rajdhani-Semibold;
}

.formBase .button:hover {
    background: #333;
    text-decoration: none;
}

.button.secondary {
    color: #fefefe;
}

.formBase label {
    border-bottom: 1px dotted #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    line-height: 1.8;
}

.terms_of_use {
    text-align: center;
    color: #eee;
    font-weight: normal;
    font-size: 12px;
    position: static;
    float: left;
    width: 100%;
    clear: both;
}

.terms_of_use .terms_of_use_link {
    color: #999 !important;
}

body {
    -webkit-font-smoothing: antialiased;   
    background: #303030
}