#activateAccountPanel h1 {
    font-size: 4em;
    text-align: center;
    /*font-family: "Tungsten A", "Tungsten B";*/
    font-family: Asgalt-Regular;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

#activateAccountPanel {
    margin-top: 60px;
    padding: 20px;
    width: 75%;
}

.small-centered {
    margin-left: auto;
    margin-right: auto;
}

.activate-form-wrapper {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.activate-form-wrapper .plan-selection-column-1 {
    background: #323233;
    color: #fff;
    overflow: hidden;
}

.activate-form-wrapper .plan-selection-column-1 {
    background: #323233;
    color: #fff;
    overflow: hidden;
}

.plan-selection-column .selectaplan_label {
    font-size: 1em;
    letter-spacing: 0.015em;
    line-height: 54px;
    font-weight: 600;
    display: block;
    margin: 0;
    font-family: "Tungsten A", "Tungsten B";
    text-transform: uppercase;
}

.term-select button {
    width: 50%;
    padding: 1.5em 0;
    font-weight: bold;
    outline: none;
    background-image: url(//assets.romwod.com/images/icons/icon-checkwhite.svg?auto=format&dpr=2&crop=faces&fit=crop&w=16&h=16);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center right 20px;
    margin: 0px;
}

.term-select button:active, .term-select button:focus {
    color: #fff;
    background: #ffb300;
    background-image: url(//assets.romwod.com/images/icons/icon-checkwhite.svg?auto=format&dpr=2&crop=faces&fit=crop&w=16&h=16);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center right 20px;
    margin: 0px;
}

.button, button, .btn {
    font-family: "Tungsten A", "Tungsten B";
    font-style: normal;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    background-color: #ffb300;
    color: #fefefe;
}

.term-select button.custom-hollow {
    border-color: #565656;
    color: #fff;
    background-image: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button.hollow, .button.hollow:hover, .button.hollow:focus {
    background-color: transparent;
}

.button.hollow {
    border: 1px solid #ffb300;
    color: #ffb300;
}

.term-select {
    display: flex;
}

.planWrapper {
    border: none;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 4px;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding: 1em;
}

@media screen and (min-width: 53.125em) {
    .large-12 {
        width: 100%;
    }

    .small-6 {
        width: 50%;
    }
}

@media screen and (min-width: 33.75em) {
    .column, .columns {
        padding-left: 0.46875rem;
        padding-right: 0.46875rem;
    }

    .column, .columns {
        width: 100%;
        float: left;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

#indivi-div {
    margin-top: 0.8rem;
}
.planWrapper .columns {
    padding: 1.5rem;
}

@media screen and (min-width: 33.75em) {
    .medium-12 {
        width: 100%;
    }

    .small-12 {
        width: 100%;
    }
}

@media screen and (min-width: 53.125em) {
    .large-6 {
        width: 50%;
    }
}

.planType {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

@media screen and (min-width: 33.75em) {
    h6 {
        font-size: 1rem;
    }

    h6 {
        font-size: 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tungsten A", "Tungsten B";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.planFor {
    font-size: 2.4rem;
    /*color: #d6d6d6;*/
    padding-bottom: 1rem;
    border-bottom: 2px solid #454545;
}
label {
    display: block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1;
}
[type='file'], [type='checkbox'], [type='radio'] {
    margin: 0 0 1rem;
}
label>[type='checkbox'], label>[type='radio'] {
    margin-right: 0.5rem;
}
.planWrapper button {
    height: 50px;
    width: 100%;
    max-width: 250px;
    background: #565656;
    color: #8c8c8c;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    outline: none;
    font-weight: bold;
    background-position: center right 9px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.planWrapper button:hover {
    color: #fff;
    background: #707070;
    background-position: center right 9px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.planWrapper button:active, .planWrapper button:focus {
    color: #fff;
    background: #ffb300;
    background-image: url(//assets.romwod.com/images/icons/icon-checkwhite.svg?auto=format&dpr=2&crop=faces&fit=crop&w=16&h=16);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 87% center;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    font-family: Asgalt-Regular;
    margin: 0;
    padding: 0;
}
.plan-benefits li {
    list-style: none;
    font-size: 1.9rem;
    line-height: 2.2rem;
    text-align: left;
}
.plan-benefits li .pl-check {
    width: 10px;
    height: 10px;
    margin-right: 1.0rem;
}
.headline-p {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.7rem;
}
p {
    font-size: inherit;
    line-height: 2.2;
    margin-bottom: 1.5rem;
    text-rendering: optimizeLegibility;
}
.sub-p {
    font-size: 2.3rem;
    /*font-weight: bold;*/
}
@media screen and (min-width: 53.125em) {
    .hide-for-large {
        display: none !important;
    }
}
.aboutPlan.noModal {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.sub-p:first-of-type {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0px;
}
.selectPlanButton .unselected {
    display: block;
}
.selectPlanButton .theSelected {
    display: none;
}
.planWrapper.selected .selectPlanButton .theSelected {
    display: block;
}
.planWrapper.selected {
    background: #fff;
    border-color: #ffb300;
    color: #515151;
    border-radius: 2px;
    box-shadow: 0 10px 25px -5px rgba(0,0,0,0.25);
}
.activate-form-wrapper .compare-plans-button {
    display: none;
}
.tabs {
     margin: 0;
     list-style-type: none;
     background: #fefefe;
     border: 1px solid #e6e6e6;
 }
ul.tabs {
    background: #fff;
    color: #333;
    border: none;
}
.activate-form-wrapper .plan-selection-column-2 ul.tabs {
    background: #fff;
    color: #333;
    border: none;
    padding-top: 1.5em;
}
a {
    /*color: #ffb300;*/
    color: #000000;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}
.tabs-title>a {
    display: block;
    padding: 1.75rem 2rem;
    line-height: 1;
    font-size: 0.75rem;
}
.tabs .is-active a {
    background: #ffb300;
    color: #fff;
}
ul.tabs .tabs-title a {
    height: 60px;
    width: 100%;
    position: relative;
    padding: 0;
    background: #f5f5f5;
    vertical-align: middle;
}

.activate-form-wrapper .plan-selection-column-2 ul.tabs .tabs-title a {
    height: 60px;
    width: 100%;
    position: relative;
    padding: 0;
    background: #f5f5f5;
    vertical-align: middle;
}
.activate-form-wrapper .plan-selection-column-2 ul.tabs .tabs-title.is-active a {
    background: #f5f5f5;
}
ul.tabs .tabs-title a img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.tabs-content {
    background: #fefefe;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #e6e6e6;
    border-top: 0;
}
.activate-form-wrapper .plan-selection-column-2 .tabs-content {
    overflow: hidden;
    border: none;
}
.tabs-panel {
    display: none;
    padding: 1.5rem;
}
.inputFieldsWrapper {
    padding: 1.7rem;
    display: block;
    float: left;
    width: 100%;
    height: auto;
}
#recurly-cc-form .inputFieldsWrapper {
    padding: 0em;
}
.term-select button.custom-hollow:hover {
    color: #ffb300;
    border-color: #ffb300;
}

.tabs-panel.is-active {
    display: block;
}
#recurly-cc-form .inputWrapper {
    text-indent: 0;
    padding-left: 1rem;
}

.inputFieldsWrapper .inputWrapper {
    position: relative;
    width: 100%;
    display: block;
    background: #fefefe;
    float: left;
    border-bottom: 1px solid #ededed;
    padding-top: 1.75rem;
}
#recurly-cc-form .inputWrapper.input-half {
    width: 50%;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.inputFieldsWrapper .inputWrapper label {
    width: 100%;
    font-size: 1.375rem;
    font-weight: 400;
    color: #999;
    position: absolute;
    top: 16px;
    pointer-events: none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    z-index: 0;
}
#recurly-cc-form .inputWrapper label {
    color: #717171;
    top: 9px;
    font-size: 1.63rem;
    text-transform: uppercase;
    text-indent: 0;
    text-align: left;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.9375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
    border-radius: 0;
    -webkit-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.tabs-content input {
    background: #fff !important;
}
.inputFieldsWrapper .inputWrapper input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    font-size: 1.475rem;
    padding: 0;
    margin: 0;
    display: block;
    vertical-align: middle;
    height: 36px;
    width: 100%;
    margin: 0 auto;
    color: #515151;
    outline: none;
}
#recurly-cc-form .inputWrapper input {
    font-size: 2.1rem;
    padding-top: 15px;
    color: #717171;
    text-indent: 0;
}
.recurly-hosted-field {
    height: 35px;
    color: #717171;
    line-height: 1rem;
}
.plan-selection-column {
    padding: 0 1.5em 1.5em 1.5em;
    box-shadow: 0 20px 50px -15px rgba(0,0,0,0.35) !important;
}

@media screen and (min-width: 33.75em) {
    .medium-centered {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 53.125em) {
    .large-6 {
        width: 50%;
    }
}
.activate-form-wrapper .plan-selection-column-2 {
    position: relative;
    background: #fff;
    /*padding: 0 1.5em 106px 1.5em;*/
}
@media screen and (min-width: 33.75em) {
    .medium-centered, .medium-centered:last-child:not(:first-child) {
        float: none;
        clear: both;
    }
}
select {
    width: 100%;
    border-radius: 0;
}
select {
    height: 3.6rem;
    padding: 1rem;
    border: 1px solid #cacaca;
    margin: 0 0 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #0a0a0a;
    background-color: #fefefe;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.…nts='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1.3rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 2rem;
    }
.inputWrapper select {
    border: none;
}

select {
    outline: none;
}
.inputFieldsWrapper .inputWrapper select {
    margin-bottom: 0;
    font-size: 1.35rem;
    color: #717171;
    padding-bottom: 1px;
    padding-left: 0;
}
#recurly-cc-form .inputWrapper select {
    margin-bottom: 0;
    font-size: 2.1rem;
    color: #717171;
    padding-bottom: 0px;
    padding-left: 0px;
}
.inputFieldsWrapper .inputWrapper.input-one-third {
    width: 33.33333%;
}
p {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}
.billingAdvisory {
    font-size: 2rem;
    background: #e3e3e3;
    color: #717171;
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    text-align: center;
    padding: .5rem .1rem;
}
.get-started-button {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
    margin: 0;
    font-weight: 600;
}
.button:hover, .button:focus {
    background-color: #d99800;
    color: #fefefe;
}

.planWrapper.selected .selectPlanButton .theSelected, .selectPlanButton .unselected {
    display: block;
}

.selectPlanButton .theSelected {
    display: none;
}

.planWrapper.selected button {
    color: #fff;
    background: #ffb300;
    background-image: url(//assets.romwod.com/images/icons/icon-checkwhite.svg?auto=format&dpr=2&crop=faces&fit=crop&w=16&h=16);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 87% center;
}

.countries {
    padding-left: 15px;
}

.states {
    padding-left: 15px;
}